@import url("https://fonts.googleapis.com/css?family=Sacramento");
@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Zen+Kurenaido&display=swap");

body * {
  font-family: "Zen Kurenaido", sans-serif;
}

body {
  margin: 0px;
  background-color: rgb(246, 246, 246);
  display: flex;
}

#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 5px;
}
